{% extends 'base.html' %}
{% block content %}
{% if request.user.is_superuser %}
<a id="id_add_project" class="btn btn-primary" href="{% url 'projects:add' %}">Add Project</a>
{% endif%}
<table class="table" bgcolor="#ADD8E6" border="1px solid black">
    <thead>
    <tr>
        <th>Index</th>
        <th>Project Name</th>
        <th>Reference Number</th>
        <th>Customer</th>
        <th>Responsible Engineer</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in projects_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.project_name }}</td>
        <td>{{ item.reference_number }}</td>
        <td>{{ item.customer }}</td>
        <td>{{ item.responsible_engineer}}</td>
        <td>{% if item.status == 1 %}
            <span>Active</span>
            {% else %}
            <span>Inactive</span>
            {% endif %}
        </td>
        <td>
        {% if request.user.is_superuser %}
            <a href="{% url 'projects:edit' item.id %}" class="btn btn-info">Edit</a>
            {% if item.status == 1 %}
                <a href="{% url 'projects:delete' item.id %}" class="btn btn-danger">Delete</a>
            {% else %}
                <a href="{% url 'projects:activate' item.id %}" class="btn btn-info">Activate</a>
            {% endif %}
        {% endif%}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class='btn' href='?page={{ page_obj.previos_page_number}}'><<</a></li>
            {% else %}
                <li class='disabled btn'><span><<</span></li>
            {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="'activ btn btn-info"><span>{{ i }}<span class='sr-only'>(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index}} of {{ page_obj.paginator_count }}</span>
        </ul>
    {% endif %}
{% endblock %}