{% extends 'base.html' %}
{% block content %}

<a id="id_search_item" class="btn btn-secondary" href="{% url 'items:search' %}">Search</a>

{% if request.user.is_superuser %}
<a id="id_add_item" class="btn btn-secondary" href="{% url 'items:add' %}">Add Item</a>
{% endif%}

<table class="table" bgcolor="#ADD8E6" border="1px solid black">
    <thead>
    <tr>
        <th>Index</th>
        <th>Category</th>
        <th>Item No.</th>
        <th>Manufacturer</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price ($)</th>
        <th>Auto PO</th>
        <th>Auto PO Qty.</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.item_no }}</td>
        <td>{{ item.manufacturer }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{% if item.auto_po == 1 %}
            <span>Active</span>
            {% else %}
            <span>Inactive</span>
            {% endif %}
        </td>
        <td>{{ item.auto_po_qty }}</td>
        <td>{% if item.status == 1 %}
            <span>Active</span>
            {% else %}
            <span>Inactive</span>
            {% endif %}
        </td>

        <td>
        {% if request.user.is_superuser %}
            <a href="{% url 'items:edit' item.id %}" class="btn btn-info">Edit</a>
            {% if item.status == 1 %}
                <a href="{% url 'items:delete' item.id %}" class="btn btn-danger">Delete</a>
            {% else %}
                <a href="{% url 'items:activate' item.id %}" class="btn btn-info">Activate</a>
            {% endif %}
            {% if item.status == 1 %}
            <a href="{% url 'items:get' item.id %}" class="btn btn-success">Get</a>
            {% endif %}
        {% else %}
            {% if item.status == 1 %}
            <a href="{% url 'items:get' item.id %}" class="btn btn-success">Get</a>
            {% endif %}
        {% endif%}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class='btn' href='?page={{ page_obj.previos_page_number}}'><<</a></li>
            {% else %}
                <li class='disabled btn'><span><<</span></li>
            {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="'activ btn btn-info"><span>{{ i }}<span class='sr-only'>(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index}} of {{ page_obj.paginator_count }}</span>
        </ul>
    {% endif %}
{% endblock %}