{% extends 'base.html' %}
{% block content %}
<center>
    <form method="POST">
        {% csrf_token %}
        <input type="search" placeholder="Search" aria-label="Search" name="searched">
        <button type="submit">Search</button>

        {% if searched %}
        <br/>
        {% for item in items %}
        <h2> Item No: {{item.item_no}} | Quantity: {{item.quantity}}</h2><br/>
        {% endfor %}
        {% else %}
        <h5> You searched nothing! </h5>
        {% endif%}
    </form>

</center>
{% endblock %}